/**
* ===================================================================================================
*  styles.css -- Global styles for the MyRWD Website
* ===================================================================================================
*
* Created April 2, 2014
*
* Authored by Sergio Valente
*
*/

/* ----- Basic Styling ----- */
body {
  background-color: lightblue;
}

#page-wrapper {
  background-color: white;
  max-width: 960px;
  margin: 0 auto;
}

#content {
  background-color: #f7f2da;
  padding: 0 1em 0 1em;
  margin-bottom: 10px;
  width: 625px;
}

nav {
  background-color: gray;
  margin: 0;
  padding: 0;
}

nav ul {
  padding: 3px 10px;
  list-style-type: none;
}

footer {
  clear: both;
}

/* ----- Ad Styling -----*/

.wide-skyscraper-ad {
  width: 160px;
  height: 600px;
  background-color: silver;
}

/* ----- Three-Column Fixed Layout -----*/

#page-wrapper {
  width: 960px;
}

nav {
  float: left;
  width: 175px;
  -moz- box-sizing: border-box;
  box-sizing: border-box;
}

#content {
  float: left;
  width: 593px;
  -moz- box-sizing: border-box;
  box-sizing: border-box;
}

#sidebar {
  float: left;
  width: 160px;
  box-sizing: border-box;
}